@import './markdown.css';
@import './custom-block.css';

:root {
	/* scroll-behavior: smooth; */
}

/* Grid layout */
.post__layout {
	display: grid;
	grid-template-columns: 1fr 2rem 14rem 2rem 19rem 2rem 19rem 2rem 14rem 2rem 1fr;
	width: 100%;
}

.post__layout > * {
	grid-column: 5 / span 3;
}

.default {
	grid-column: 5 / span 3 !important;
}

.box {
	grid-column: 4 / span 5 !important;
}

.wide {
	grid-column: 3 / span 7 !important;
}

.wide-box {
	grid-column: 2 / span 9 !important;
}

.center-child > *:first-of-type {
	margin-left: auto !important;
	margin-right: auto !important;
	width: max-content !important;
}

.center-children > * {
	margin-left: auto !important;
	margin-right: auto !important;
	width: max-content !important;
}

/* Two column layout */

.two-col {
	display: grid;
	grid-template-columns: 1fr 2rem 1fr;
}

.two-col > *:first-of-type {
	grid-column: 1;
}

.two-col > *:last-of-type {
	grid-column: 3;
}

/* Scroll bar */
html {
	--scrollbar: theme('colors.gray.900');
	--thumb: theme('colors.gray.700');
}
body::-webkit-scrollbar {
	width: 11px;
}
body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumb) var(--scrollbar);
}
body::-webkit-scrollbar-track {
	background: var(--scrollbar);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumb);
	border-radius: 6px;
	border: 3px solid var(--scrollbar);
}
